/*Navbar Style*/
.navbar-toggler{
  background-color: black;
}
.background-1{
  height: 7vh;
}
.navbar {
  padding:0 100px;
}
.navStyle a{
  font-weight: bold;
  font-size: 14px;
  color: #666666;
}

.navbar-brand{
  font-weight: bold;
  font-size: 22px;
  color: #666666
}

.facebook {
    position: relative;
}
.facebook:before {
    content: "\f082";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    color:#3b5998;
    font-size: 20px;
    position: absolute;
    top:0;
}
.email {
    position: relative;
}
.email:before {
    content: "\f003";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #3b5998;
    font-size: 20px;
    position: absolute;
    top:0;
}

/*First Glimpse of the web*/
.background-2{
  background: url('file:///Users/Wenwen/Johnson-Chow/Personal%20Project/Photo/nutrients.jpeg');
  height: 60vh;
  background-blend-mode: overlay;
  color: #ff6600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
#nutrients {
  width: 30vw;;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 5px 5px;
}
.background-2 h2{
  padding-bottom: 80px;
  width:300px;
  font-weight: bold;
}
.modal-style {
    font-family: Verdana,Arial,sans-serif;
    font-size: .8em;
    background: #ff6600
}
.background-3{
  height:30vh;
  padding:20px 20px;
}
.background-4 {
height:20vh;
}
.imamge{
position: relative;
}
.overlay{
position: absolute;
background-color:white;
top:0;
left:0;
right:0;
bottom: 0;
width:10vw;
height:10vh;
opacity: 0;
transition: .5s ease;
display: flex;
align-items: center;
justify-content: center;
}
.image:hover .overlay {
  opacity: 0.6;
}
.hoverEffect {
  font-weight: bold;
  color: #ff6600;
  font-size: 18px;
}

.friendList p{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:#ff6600;
  font-size:18px;
  margin: 5px;
}

.background-5{
    color: #ff6600;
    padding:10px 10px;
}

.background-6 {
  height: 50vh;
  display: block;
  padding: 10px 10px;
  text-align: center;
  color:#ff6600;


}

  



