.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height:300px;
}


#box1{
    background-color: blue;
    width: 100px;
    height:100px;
    align-self: flex-start;
}



#box2{
    background-color:red;
    height:100px;
    width: 100px;
    align-self: center;

}
    

#box3{
    background-color:green;
    height:100px;
    width: 100px;
  
    
}

